html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80dvh;
}

.profile-picture-box {
    width: 200px;
    height: 200px;
    border: 2px dashed #6c757d;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
}

.profile-picture-box label {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.object-fit-cover {
    object-fit: cover;
}

.profile-picture-box:hover {
    background-color: #f8f9fa;
}