body {
  box-sizing: border-box;
  margin: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
}

nav {
  padding: 1rem;
  background-color: hsl(0, 0%, 42%, 70%);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.links {
  display: flex;
  gap: 2rem;
}

.link {
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.link:visited,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  color: inherit;
}

nav .menu {
  position: absolute;
  font-size: 1.4rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  display: none; /* instead of visibility */
  cursor: pointer;
}

.options {
  position: absolute;
  top: 100%;
  right: 1rem;
  margin-top: 0.5rem;

  background-color: hsl(0, 0%, 20%, 90%);
  backdrop-filter: blur(10px);

  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  padding: 0.8rem 1rem;
  border-radius: 1rem;

  width: min(220px, 70vw);
  text-align: left;

  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 0.2s ease;
  z-index: 999;
}

.options.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

main {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-size: 3rem;
}

main h2 {
  margin-top: -1rem;
}

@media (max-width: 500px) {
  nav .menu {
    display: block;
  }

  nav .links {
    display: none;
  }
}
