body {
  box-sizing: border-box;
  margin: 0;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  font-family: "Space Grotesk", sans-serif;
}

#digital canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 100;
  color: white;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #9ea0a3;
}

.links {
  display: flex;
  gap: 1.5rem;
}

.link {
  font-size: 1.2rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
  position: relative;
  transition: all 0.3s ease;
  font-weight: 500;
}

.link::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  background: #696969;
  transition: width 0.3s;
  position: absolute;
  bottom: -4px;
  left: 0;
}

.link:hover::after {
  width: 100%;
}

.link:visited,
.link:hover,
.link:active,
.link:focus {
  text-decoration: none;
  color: inherit;
}

nav .menu {
  position: absolute;
  font-size: 1.4rem;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
}

.options {
  position: absolute;
  top: 100%;
  right: 1rem;
  margin-top: 0.5rem;
  background-color: hsla(0, 0%, 20%, 0.9);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  width: min(220px, 70vw);
  text-align: left;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: 0.2s ease;
  z-index: 11;
}

.options.open {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0);
}

main {
  flex: 1;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main h1 {
  font-size: 3rem;
}

main h2 {
  margin-top: -1rem;
}

@media (max-width: 500px) {
  nav .menu {
    display: block;
  }

  nav .links {
    display: none;
  }
}
