<ul class="navbar-nav">
    @if (User.IsAuthenticated())
    {
        <li class="nav-item d-flex align-items-center">
            <a class="nav-link text-light d-flex align-items-center" style="font-family: 'Roboto', sans-serif; margin-right: 15px; transition: color 0.3s ease; color: #ffd700;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">
                <img src="@User.GetProfilePictureUrl()" alt="Profile Picture" class="rounded-circle me-2" style="width: 32px; height: 32px; object-fit: cover;" />
                @User.GetName()
            </a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })" style="margin-top: 5px; margin-right: 15px;">
                <button type="submit" class="btn btn-link text-light" style="font-family: 'Roboto', sans-serif; text-decoration: none; transition: color 0.3s ease; color: #ffd700;">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light" style="font-family: 'Roboto', sans-serif; margin-right: 15px; transition: color 0.3s ease; color: #ffd700;" asp-area="Identity" asp-page="/Account/Login">
                Login
            </a>
        </li>
    }
</ul>