<form asp-action="Index" method="get">
    <div class="container mt-4 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 d-flex gap-2">
                <input class="form-control border border-dark"
                       type="text"
                       name="SearchParam"
                       placeholder="Type a parameter to search for..."
                       value="@Context.Request.Query["SearchParam"]"
                       style="background-color: #f8f9fa;" />
                <button type="submit" class="btn btn-outline-dark">
                    Search
                </button>
            </div>
        </div>
    </div>
</form>
