<form asp-action="Index" method="get">
    <div class="container mt-4 mb-5">
        <div class="row justify-content-center">
            <div class="col-md-6 d-flex gap-2">
                <input class="form-control"
                       type="text"
                       name="SearchParam"
                       placeholder="Search by username..."
                       value="@ViewData["Search"]"
                       style="border: 1px solid #ced4da; background-color: #f8f9fa;" />
                <button type="submit" class="btn btn-outline-dark">
                    Search
                </button>
            </div>
        </div>
    </div>
</form>
